[Desktop Entry]
Name=YABGO Browser
Comment=Yet Another Browser to Go and Visit
Exec=yabgo-browser %U
Icon=com.yabgo.Browser
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;
Keywords=browser;web;internet;

